<!DOCTYPE html/>
<html>
<header>
  <title>Slacker News</title>
</header>
<body>
<h1> SLACKER NEWS </h1>
<ul>
  <li> <a href='/articles/new'>Submit</a></li>
  <li><a href='/articles'>Home</a></li>
</ul>
<%=yield%>

</body>
</html>
