
<h2>Submit a new article</h2>

<form action="/articles/new" method="post">
  <label for="url">Article URL:</label><br>
  <input type="text" name="url"/><br>
  <label for="title">Article title:</label><br>
  <input type="text" name="title"/><br>
  <label for="description">Article description(must be at least 20 characters)</label><br>
  <textarea name="description"></textarea><br>
  <input type="Submit" value="Submit"/>
</form>
